# Django Settings
SECRET_KEY=django-insecure-a=v&r709r46mp0p@x8ikf++2!zwh+x4c_h1od@v*9x$fmde&^c
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Email Configuration (SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
CONTACT_FORM_RECIPIENT=recipient@email.com
